<?xml version="1.0" encoding="UTF-8"?>
<di xmlns="http://www.appserver.io/appserver">

    <!-- ==================================================================================== -->
    <!--  BEAN DEFINITIONS                                                                    -->
    <!-- ==================================================================================== -->

    <beans>

        <!-- ================================================================================ -->
        <!--  APPLICATION BEAN DEFINITIONS                                                    -->
        <!-- ================================================================================ -->

        <bean>
            <name>OutputWriter</name>
            <class>AppserverIo\Console\Server\Doctrine\DBAL\Migrations\OutputWriter</class>
        </bean>
        <bean>
            <name>Connection</name>
            <class>Doctrine\DBAL\Connection</class>
            <factory>
                <name>DefaultEntityManager</name>
                <method>getConnection</method>
            </factory>
        </bean>
        <bean>
            <name>DefaultEntityManager</name>
            <class>Doctrine\DBAL\Connection</class>
            <factory>
                <name>EntityManagerHelper</name>
                <method>getEntityManager</method>
            </factory>
        </bean>
        <bean>
            <name>SchemaManager</name>
            <class>Doctrine\DBAL\Schema\AbstractSchemaManager</class>
            <factory>
                <name>Connection</name>
                <method>getSchemaManager</method>
            </factory>
        </bean>
        <bean>
            <name>Platform</name>
            <class>Doctrine\DBAL\Platforms\AbstractPlatform</class>
            <factory>
                <name>Connection</name>
                <method>getDatabasePlatform</method>
            </factory>
        </bean>
        <bean>
            <name>Configuration</name>
            <class>AppserverIo\Console\Server\Doctrine\DBAL\Migrations\Configuration\Configuration</class>
            <bean-ref>
                <bean-ref-name>Connection</bean-ref-name>
            </bean-ref>
            <bean-ref>
                <bean-ref-name>OutputWriter</bean-ref-name>
            </bean-ref>
        </bean>
        <bean>
            <name>Version</name>
            <class>AppserverIo\Console\Server\Doctrine\DBAL\Migrations\Version</class>
            <shared>false</shared>
            <bean-ref>
                <bean-ref-name>Configuration</bean-ref-name>
                <bean-link>Configuration</bean-link>
            </bean-ref>
        </bean>
        <bean>
            <name>FixtureLoader</name>
            <class>AppserverIo\Console\Server\Doctrine\Fixtures\Loader</class>
            <res-ref>
                <res-ref-name>Application</res-ref-name>
                <res-ref-type>ApplicationInterface</res-ref-type>
            </res-ref>
        </bean>

        <!-- ================================================================================ -->
        <!--  HELPER BEAN DEFINITIONS                                                         -->
        <!-- ================================================================================ -->

        <bean>
            <name>ConnectionHelper</name>
            <class>AppserverIo\Console\Server\Doctrine\DBAL\Tools\Console\Helper\ConnectionHelper</class>
            <bean-ref>
                <bean-ref-name>Connection</bean-ref-name>
            </bean-ref>
        </bean>
        <bean>
            <name>QuestionHelper</name>
            <class>Symfony\Component\Console\Helper\QuestionHelper</class>
        </bean>
        <bean>
            <name>ConfigurationHelper</name>
            <class>AppserverIo\Console\Server\Doctrine\DBAL\Migrations\Tools\Console\Helper\ConfigurationHelper</class>
            <res-ref>
                <res-ref-name>Application</res-ref-name>
                <res-ref-type>ApplicationInterface</res-ref-type>
            </res-ref>
            <bean-ref>
                <bean-ref-name>Connection</bean-ref-name>
            </bean-ref>
        </bean>
        <bean>
            <name>EntityManagerHelper</name>
            <class>AppserverIo\Console\Server\Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper</class>
            <res-ref>
                <res-ref-name>Application</res-ref-name>
                <res-ref-type>ApplicationInterface</res-ref-type>
            </res-ref>
        </bean>
        <bean>
            <name>FixtureLoaderHelper</name>
            <class>AppserverIo\Console\Server\Doctrine\Fixtures\Helper\FixtureLoaderHelper</class>
            <res-ref>
                <res-ref-name>Application</res-ref-name>
                <res-ref-type>ApplicationInterface</res-ref-type>
            </res-ref>
        </bean>
        <bean>
            <name>ApplicationHelper</name>
            <class>AppserverIo\Console\Server\Doctrine\Fixtures\Helper\ApplicationHelper</class>
            <res-ref>
                <res-ref-name>Application</res-ref-name>
                <res-ref-type>ApplicationInterface</res-ref-type>
            </res-ref>
        </bean>

        <!-- ================================================================================ -->
        <!--  HELPER SET BEAN DEFINITIONS                                                     -->
        <!-- ================================================================================ -->

        <bean>
            <name>HelperSet</name>
            <class>Symfony\Component\Console\Helper\HelperSet</class>
            <method-invocation>
                <method-name>set</method-name>
	            <argument>ConnectionHelper</argument>
            </method-invocation>
            <method-invocation>
                <method-name>set</method-name>
                <argument>EntityManagerHelper</argument>
            </method-invocation>
            <method-invocation>
                <method-name>set</method-name>
                <argument>QuestionHelper</argument>
            </method-invocation>
            <method-invocation>
                <method-name>set</method-name>
                <argument>ConfigurationHelper</argument>
            </method-invocation>
            <method-invocation>
                <method-name>set</method-name>
                <argument>FixtureLoaderHelper</argument>
            </method-invocation>
            <method-invocation>
                <method-name>set</method-name>
                <argument>ApplicationHelper</argument>
            </method-invocation>
        </bean>

        <!-- ================================================================================ -->
        <!--  COMMAND BEAN DEFINITIONS                                                        -->
        <!-- ================================================================================ -->

        <bean>
            <name>DiffCommand</name>
            <class>Doctrine\DBAL\Migrations\Tools\Console\Command\DiffCommand</class>
        </bean>
        <bean>
            <name>ExecuteCommand</name>
            <class>Doctrine\DBAL\Migrations\Tools\Console\Command\ExecuteCommand</class>
        </bean>
        <bean>
            <name>GenerateCommand</name>
            <class>AppserverIo\Console\Server\Doctrine\DBAL\Migrations\Tools\Console\Command\GenerateCommand</class>
        </bean>
        <bean>
            <name>LatestCommand</name>
            <class>Doctrine\DBAL\Migrations\Tools\Console\Command\LatestCommand</class>
        </bean>
        <bean>
            <name>MigrateCommand</name>
            <class>Doctrine\DBAL\Migrations\Tools\Console\Command\MigrateCommand</class>
        </bean>
        <bean>
            <name>StatusCommand</name>
            <class>Doctrine\DBAL\Migrations\Tools\Console\Command\StatusCommand</class>
        </bean>
        <bean>
            <name>UpToDateCommand</name>
            <class>Doctrine\DBAL\Migrations\Tools\Console\Command\UpToDateCommand</class>
        </bean>
        <bean>
            <name>VersionCommand</name>
            <class>Doctrine\DBAL\Migrations\Tools\Console\Command\VersionCommand</class>
        </bean>
        <bean>
            <name>CollectionRegionCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ClearCache\CollectionRegionCommand</class>
        </bean>
        <bean>
            <name>EntityRegionCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ClearCache\EntityRegionCommand</class>
        </bean>
        <bean>
            <name>MetadataCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ClearCache\MetadataCommand</class>
        </bean>
        <bean>
            <name>QueryCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ClearCache\QueryCommand</class>
        </bean>
        <bean>
            <name>QueryRegionCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ClearCache\QueryRegionCommand</class>
        </bean>
        <bean>
            <name>ResultCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ClearCache\ResultCommand</class>
        </bean>
        <bean>
            <name>CreateCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\SchemaTool\CreateCommand</class>
        </bean>
        <bean>
            <name>DropCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\SchemaTool\DropCommand</class>
        </bean>
        <bean>
            <name>UpdateCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\SchemaTool\UpdateCommand</class>
        </bean>
        <bean>
            <name>ConvertDoctrine1SchemaCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ConvertDoctrine1SchemaCommand</class>
        </bean>
        <bean>
            <name>ConvertMappingCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ConvertMappingCommand</class>
        </bean>
        <bean>
            <name>EnsureProductionSettingsCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\EnsureProductionSettingsCommand</class>
        </bean>
        <bean>
            <name>GenerateEntitiesCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\GenerateEntitiesCommand</class>
        </bean>
        <bean>
            <name>GenerateProxiesCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\GenerateProxiesCommand</class>
        </bean>
        <bean>
            <name>GenerateRepositoriesCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\GenerateRepositoriesCommand</class>
        </bean>
        <bean>
            <name>InfoCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\InfoCommand</class>
        </bean>
        <bean>
            <name>MappingDescribeCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\MappingDescribeCommand</class>
        </bean>
        <bean>
            <name>RunDqlCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\RunDqlCommand</class>
        </bean>
        <bean>
            <name>ValidateSchemaCommand</name>
            <class>Doctrine\ORM\Tools\Console\Command\ValidateSchemaCommand</class>
        </bean>
        <bean>
            <name>ImportCommand</name>
            <class>Doctrine\DBAL\Tools\Console\Command\ImportCommand</class>
        </bean>
        <bean>
            <name>ReservedWordsCommand</name>
            <class>Doctrine\DBAL\Tools\Console\Command\ReservedWordsCommand</class>
        </bean>
        <bean>
            <name>RunSqlCommand</name>
            <class>Doctrine\DBAL\Tools\Console\Command\RunSqlCommand</class>
        </bean>
        <bean>
            <name>LoadCommand</name>
            <class>AppserverIo\Console\Server\Doctrine\Fixtures\LoadCommand</class>
        </bean>

        <!-- ================================================================================ -->
        <!--  APPLICATION BEAN DEFINITIONS                                                    -->
        <!-- ================================================================================ -->

        <bean>
            <name>Console</name>
            <class>Symfony\Component\Console\Application</class>
            <method-invocation>
                <method-name>setHelperSet</method-name>
                <argument>HelperSet</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>DiffCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>ExecuteCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>GenerateCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>LatestCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>MigrateCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>UpToDateCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>VersionCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>StatusCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>CollectionRegionCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>EntityRegionCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>MetadataCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>QueryCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>QueryRegionCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>ResultCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>CreateCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>DropCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>UpdateCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>ConvertDoctrine1SchemaCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>ConvertMappingCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>EnsureProductionSettingsCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>GenerateEntitiesCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>GenerateProxiesCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>GenerateRepositoriesCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>InfoCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>MappingDescribeCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>RunDqlCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>ValidateSchemaCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>ImportCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>ReservedWordsCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>RunSqlCommand</argument>
            </method-invocation>
            <method-invocation>
                <method-name>add</method-name>
                <argument>LoadCommand</argument>
            </method-invocation>
        </bean>

    </beans>

</di>